.hero{
    .question-card{
        background-color: #DBA39A;
        padding: 16px;
        border-radius: 20px;
        color: white;
        ul>li{
            border: 1px solid white;
            padding: 10px;
            margin-top: 5px;
            border-radius: 20px;
            background-color: darkgray;
            font-size: 20px;
        }
        .question-text{
            color: brown;
        }
    }
    .final-result{
        background-color: gray;
        padding: 16px;
        border-radius: 20px;
        color: white;
        width: 50%;
        .btn{
            background-color: red;
            color: white;
        }
    }
}
//-------------------------------------QuizComp------------------------------
// .QuizComp{

// }